{% extends 'base.html' %}
{% load static %}
{% block page_title %}Password changed{% endblock %}
{% block content %}


<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="font-size: 5rem;padding: 15% 10% !important">
                <h1 class="mt-4">Password changed</h1>
                <div class="border-top pt-4">
                    <p>Your password has been successfully changed.</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
