{% extends 'base.html' %}
{% load static %}
{% block page_title %}Password reset successful{% endblock %}
{% block content %}


<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="font-size: 5rem;padding: 15% 10% !important">
                <h1 class="mt-4">Reset your password</h1>
                <div class="border-top pt-4">
                    <h1>Password set</h1>
                    <p>Your password has been set. You can
                        <a href="{% url " login" %}">log in now</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
