{% extends 'base.html' %}
{% load static %}
{% block page_title %}Reset your password{% endblock %}
{% block content %}


<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="font-size: 5rem;padding: 15% 10% !important">
                <h1 class="mt-4">Reset your password</h1>
                <div class="border-top pt-4">
                    <p>We've emailed you instructions for setting your password.</p>
                    <p>If you don't receive an email, please make sure you've entered
                        the address you registered with.</p>
                    <p>If you still can't login, reach out to us
                        <a href="{% url 'mainsite:contact' %}"> here.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
