{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Set up OEF administration access{% endblock %}

{% block content %}
  <div id="content-main">
    <form method="post" novalidate>
      {% csrf_token %}
      <fieldset class="module aligned wide">
        <h2>Set up your password</h2>
        <p>Choose a secure password for your OEF administration account.</p>
        {{ form.as_div }}
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="Set password and continue" class="default">
      </div>
    </form>
  </div>
{% endblock %}
