{% extends 'base.html' %}
{% block page_title %}create new article{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div id = "container">
        <div class="row d-flex mb-5 h-100">
	          <div class="col-md-12 mb-4 align-self-center">
                  <form method="POST" name="Post" class="articleform" enctype="multipart/form-data" id="contentform"
                        class="mt-5 ml-5 mr-5">
                      {% csrf_token %}
                      <fieldset>
                          <legend class="border-bottom mb-4"><h1>Create New Post</h1></legend>
                          <div class="form-group">
                          {{form | crispy}}
                          </div>
                          <div class="form-group col-lg-5 ml-5">
                          {{ p_form | safe}}
                          </div>

                      </fieldset>
                      <div class="form-group">
                          <input type="submit" class="btn btn-primary ml-2 mt-5" value="Create">
                      </div>
                  </form>
            </div>
        </div>
    </div>
<!-- include summernote css/js-->

<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
<script>
$('.summernote').summernote({
  airMode: true
});
</script>
{% endblock %}

