{% extends 'base.html' %}
{% block page_title %}our articles{% endblock %}
{% load static %}
{% load imagefit %}
{% load blog_tags %}
{% block content %}
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>News & Articles</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Blog Area Start-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% if tag %}
                        <h2>Articles tagged with "{{ tag.name }}"</h2>
                        {% endif %}
                        {% for article in articles %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <a href="{{ article.get_absolute_url }}">
                                    <div id="yes"
                                         style="background:transparent no-repeat center;background-size: cover;
                            background-image: url('{% if article.feature_img %}{{ article.feature_img.url| resize:'385770'}}{%endif%}');
                            transition: all .5s;"></div>
                                </a><img class="card-img rounded-0" src="
                                    {% if article.feature_img %}{{ article.feature_img.url|resize:'320x240,C'}}{%endif%}"
                                         alt="">
                                <a href="{{ article.get_absolute_url }}" class="blog_item_date">
                                    <h3>{{ article.date_created | date:"d" }}</h3>
                                    <p>{{ article.date_created | date:"M" }}, {{ article.date_created | date:"Y" }}</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="{{ article.get_absolute_url  }}">
                                    <h2 class="blog-head" style="color: #2d2d2d;">{{article.article_title}}</h2>
                                </a>
                                <p>{{article.article_excerpt|truncatewords_html:30|linebreaks}}</p>
                                <ul class="blog-info-link">
                                    <li>
                                        <a href="{% url 'article:article-by-user' article.article_author.username %}">Written
                                            by
                                            <i class="fa fa-user"></i> {{article.article_author}}</a>
                                    </li>
                                    <li class="tags">
                                        Tags:
                                        {% for tag in article.tags.all %}

                                        <a href="{% url 'article:articles-by-slug' tag.slug %}">
                                            {{ tag.name }}
                                        </a>
                                        {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </li>
                                    <!--                                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>-->
                                </ul>
                            </div>
                        </article>
                        {% endfor %}
                        {% include "pagination.html" %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">Published Articles Statistics</h4>
                            <p>All time: {%total_articles_count%}</p>
                            <p>Today: {%total_articles_today%}</p>
                            <p>This week: {%total_articles_week%}</p>
                            <p>This month: {%total_articles_month%}</p>
                            <p>This year: {%total_articles_year%}</p>
                        </aside>
                        {% show_top_categories 6 %}
                        {% show_most_used_tags 5 %}
                        <aside class="single_sidebar_widget search_widget">
                            {% include "blog/search_widget.html" %}
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
</main>
{% endblock %}
