{% extends 'base.html' %}
{% block page_title %}{{article.article_title}}{% endblock %}
{% load static %}
{% load imagefit %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>News & Article</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Blog Area Start -->
    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid"
                                 src="{% if article.feature_img %}{{ article.feature_img.url |resize:'800x420,C' }}{%endif%}"
                                 alt="">
                        </div>
                        <div class="blog_details">
                            <h2 style="color: #2d2d2d;">{{article.article_title}}
                            </h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li>Post by <a
                                        href="{% url 'article:article-by-user' article.article_author.username %}"><i
                                        class="fa fa-user"></i>{{article.article_author.get_full_name}}</a>
                                </li>
                                <!--                           <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>-->
                            </ul>
                            <p class="excert">
                                {{article.article_excerpt}}
                            </p>
                            <p>
                                {{article.article_content | markdown_filter}}
                            </p>
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span>Share this
                                on social media</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="{% url 'article:post_share' article.article_slug %}"><i
                                        class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                        <!--                     <div class="navigation-area">-->
                        <!--                        <div class="row">-->
                        <!--                           <div-->
                        <!--                              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">-->
                        <!--                              <div class="thumb">-->
                        <!--                                 <a href="#">-->
                        <!--                                    <img class="img-fluid" src="{% static 'img/post/preview.png' %}" alt="">-->
                        <!--                                 </a>-->
                        <!--                              </div>-->
                        <!--                              <div class="arrow">-->
                        <!--                                 <a href="#">-->
                        <!--                                    <span class="lnr text-white ti-arrow-left"></span>-->
                        <!--                                 </a>-->
                        <!--                              </div>-->
                        <!--                              <div class="details">-->
                        <!--                                 <p>Prev Post</p>-->
                        <!--                                 <a href="#">-->
                        <!--                                    <h4 style="color: #2d2d2d;">Space The Final Frontier</h4>-->
                        <!--                                 </a>-->
                        <!--                              </div>-->
                        <!--                           </div>-->
                        <!--                           <div-->
                        <!--                              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">-->
                        <!--                              <div class="details">-->
                        <!--                                 <p>Next Post</p>-->
                        <!--                                 <a href="#">-->
                        <!--                                    <h4 style="color: #2d2d2d;">Telescopes 101</h4>-->
                        <!--                                 </a>-->
                        <!--                              </div>-->
                        <!--                              <div class="arrow">-->
                        <!--                                 <a href="#">-->
                        <!--                                    <span class="lnr text-white ti-arrow-right"></span>-->
                        <!--                                 </a>-->
                        <!--                              </div>-->
                        <!--                              <div class="thumb">-->
                        <!--                                 <a href="#">-->
                        <!--                                    <img class="img-fluid" src="{% static 'img/post/next.png' %}" alt="">-->
                        <!--                                 </a>-->
                        <!--                              </div>-->
                        <!--                           </div>-->
                        <!--                        </div>-->
                        <!--                     </div>-->
                    </div>
                    <div class="blog-author">
                        <div class="media align-items-center">
                            <img src="{{article.article_author.image.url}}"
                                 alt="Image of {{article.article_author.get_full_name}}">
                            <div class="media-body">
                                <a href="{% url 'article:article-by-user' article.article_author.username %}">
                                    <h4>View more post from {{article.article_author.get_full_name}}</h4>
                                </a>
                                <p>{{article.article_author.short_bio}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>{{comments|length}}{% if comments|length > 1 %} comments {% else %} comment {% endif %}</h4>
                        {% for comment in comments %}
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <!--                              <div class="thumb">-->
                                    <!--                                 <img src="{% static 'img/blog/comment_1.png' %}" alt="">-->
                                    <!--                              </div>-->
                                    <div class="desc">
                                        <p class="comment">{{comment.body|linebreaks}}</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">{{comment.name}}</a>
                                                </h5>
                                                <p class="date">{{comment.created_on|date:'M d, Y'}} at
                                                    {{comment.created_on|date:'h:i a'}}</p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#commentForm" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form name="comment_form" class="form-contact comment_form"
                              action="{{ article.get_absolute_url }}"
                              id="commentForm" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                 <textarea class="form-control w-100" name="body" id="body" cols="30" rows="9"
                                           placeholder="Write Comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" type="text"
                                               placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" type="email"
                                               placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="website" id="website" type="text"
                                               placeholder="Website">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="color: #2d2d2d;">You may also like</h3>
                            {% for post in similar %}
                            <div class="media post_item">
                                <img src="{{ post.feature_img.url|resize:'thumbnail' }}" alt="post">
                                <div class="media-body">
                                    <a href="{{ post.get_absolute_url }}">
                                        <h3 style="color: #2d2d2d;">{{post.article_title}}</h3>
                                    </a>
                                    <p>{{ post.date_created | date:"d M" }}, {{ post.date_created | date:"Y" }}</p>
                                </div>
                            </div>
                            {% empty %}
                            There are no similar posts yet.
                            {% endfor %}
                        </aside>
                        {% show_top_categories 6 %}
                        {% show_most_used_tags 5 %}
                        <aside class="single_sidebar_widget search_widget">
                            {% include "blog/search_widget.html" %}
                        </aside>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Blog Area End -->
</main>

{% endblock %}
