{% extends 'base.html' %}
{% block page_title %}gallery of our past events{% endblock %}
{% load static %}
{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>Gallery </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="section-top-border">
					<div class="row gallery-item">
						{% for img in event_imgs %}
						<div class="col-md-4">
							<a href="{{ img.image.url }}" class="img-pop-up">
								<div class="single-gallery-image" style="background: url({{ img.image.url }});"></div>
							</a>
						</div>
						{% endfor %}
                    </div>
    </div>
<!--    <nav class="blog-pagination justify-content-center d-flex">-->
<!--                                <ul class="pagination">-->
<!--                                    <li class="page-item">-->
<!--                                        <a href="#" class="page-link" aria-label="Previous">-->
<!--                                            <i class="ti-angle-left"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li class="page-item">-->
<!--                                        <a href="#" class="page-link">1</a>-->
<!--                                    </li>-->
<!--                                    <li class="page-item active">-->
<!--                                        <a href="#" class="page-link">2</a>-->
<!--                                    </li>-->
<!--                                    <li class="page-item">-->
<!--                                        <a href="#" class="page-link" aria-label="Next">-->
<!--                                            <i class="ti-angle-right"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </nav>-->

    <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination mb-4">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link" aria-label="Previous">First</a>
            </li>
            <li class="page-item">
                <a href="?page={{page_obj.previous_page_number}}" class="page-link" aria-label="Previous"><i class="ti-angle-left"></i></a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
            {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2' %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                    <i class="ti-angle-right"></i>
                </a>
            </li>
            <li class="page-item">
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
    <!-- Hero End -->
    <!--? Count Down Start -->

    </main>
{% endblock %}