{% extends 'base.html' %}
{% block page_title %}eradicating hunger and poverty{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
    <main>
    <!-- slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">Save Many<br>Feed Someone</h1>
                                <P data-animation="fadeInUp" data-delay=".8s" >Transforming the disadvantaged and mentally unstable people into viable members of the society.</P>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="{% url 'donate' %}" class="btn hero-btn mb-10"  data-animation="fadeInLeft" data-delay=".8s">Donate</a>
                                    <a href="tel:+2348170838856" class="cal-btn ml-15" data-animation="fadeInRight" data-delay="1.0s">
                                        <i class="flaticon-null"></i>
                                        <p>+2348170838856</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? Services Area Start -->
    <div class="service-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>What we are doing</span>
                        <h2>We Are On A Mission To Provide The Following To The Helpless</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat active text-center mb-50">
                        <div class="cat-icon">
                            <span class="fas fa-hamburger"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Feeding</a></h5>
                            <p>We are here to help the less-privileged have access to good food and clean water.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="fas fa-hospital"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Health</a></h5>
                            <p>We provide health-care assistance to the less-privilege, both young and old</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="fas fa-home"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Shelter</a></h5>
                            <p>We provide a place of shelter to the displaced until they are able to get their own places</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-think"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Empowerment</a></h5>
                            <p>We provide education, human development and capital to the less privilege.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!--? About Law Start-->
    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>About our foundation</span>
                            <h2>We are on a mission to eradicate hunger and poverty</h2>
                        </div>
                        <p><strong>Mission Statement: </strong>To ensure that the marginalized, socially and economically unstable are being kept in a state of hapiness and vitality by a steady source of meal and shelter</p>
                        <p><strong>Vision Statement: </strong>Transforming the percentage of disadvantaged and mentally unstable people into valuable members of the society with the aid of rehabilitating actions such as free feeding, shelter, counselling and empowerment.</p>
                    </div>
                    <a href="about.html" class="btn">About US</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="{% static 'img/gallery/icecream.png' %}" alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{% static 'img/gallery/about2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Law End-->
    <!-- Our Cases Start -->
    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Join Our Causes</span>
                        <h2>Causes for Future Leaders</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="{% static 'img/gallery/case1.png' %}" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Orphanage Reliefs</a></h3>
                            <!-- Progress Bar -->
                            <div class="single-skill mb-15">
                                <div class="bar-progress">
                                    <div id="bar1" class="barfiller">
                                        <div class="tipWrap">
                                            <span class="tip"></span>
                                        </div>
                                        <span class="fill" data-percentage="16"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- / progress -->
                            <div class="prices d-flex justify-content-between">
                                <p>Raised:<span> ₦94,000</span></p>
                                <p>Goal:<span> ₦600,000</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="{% static 'img/fs-two.jpg' %}" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Operation Feed the slum</a></h3>
                            <!-- Progress Bar -->
                            <div class="single-skill mb-15">
                                <div class="bar-progress">
                                    <div id="bar2" class="barfiller">
                                        <div class="tipWrap">
                                            <span class="tip"></span>
                                        </div>
                                        <span class="fill" data-percentage="25"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- / progress -->
                            <div class="prices d-flex justify-content-between">
                                <p>Raised:<span> ₦25,000</span></p>
                                <p>Goal:<span> ₦100,000</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Cases End -->
    <!-- Featured_job_start -->
    <section class="featured-job-area section-padding30 section-bg2" data-background="{% static 'img/gallery/section_bg03.png' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Events Coming Soon</span>
                        <h2>Where we will be impacting in the coming weeks</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'img/gallery/feedsomeone2.png' %}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#"><h4>Operation Feed the Slum</h4></a>
                                <ul>
                                    <li><i class="far fa-clock"></i>9:30m - 11:00am</li>
                                    <li><i class="fas fa-sort-amount-down"></i>26.12.2020</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Akure, Nigeria</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'img/gallery/orphanage.png' %}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#"><h4>A visit to the orphanages</h4></a>
                                <ul>
                                    <li><i class="far fa-clock"></i>10:30 - 2:30pm</li>
                                    <li><i class="fas fa-sort-amount-down"></i>25.12.2020</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Akure, Nigeria</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured_job_end -->
    <div class="count-down-area pt-25 section-bg" data-background="{% static 'img/gallery/section_bg02.png' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="count-down-wrapper" >
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
      				   <span class="counter color-green">{{total_amount|floatformat:0|intcomma}}</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donations</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">{{events_done}}</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Event Done</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
				   <span class="counter color-green">{{total_transaction}}</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">People Donated</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--? Team Ara Start -->
    <div class="team-area pt-160 pb-160">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 text-center mb-70">
                        <span>Who we are</span>
                        <h2>Meet Our Volunteers</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                {% for volunteer in volunteers %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-team mb-30 active">
                        <div class="team-img">
                            <div id="yes" style="height: 330px;
                            background:transparent no-repeat center;background-size: cover;
                            background-image: url('{{volunteer.image.url}}');
                            transition: all .5s;"></div>
                            <!-- Blog Social -->
                            <ul class="team-social">
                                <li><a href="http://facebook.com/{{volunteer.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://twitter.com/{{volunteer.twitter}}"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://instagram/{{volunteer.instagram}}"><i class="fab    fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-caption">
                            <h3><a href="instructor.html" style="font-size: 20px !important;">{{ volunteer.get_full_name}}</a></h3>
                            {%if volunteer.innovator%}<p>Innovator</p>
                            {% elif volunteer.coordinator %}<p>Coordinator</p>
                            {%elif volunteer.volunteer %}<p>Volunteer</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                  <div class="col-xl-2 col-lg-2 col-md-3">
                        <a href="{% url 'volunteer-list' %}" style="font-color:#fff !important; background-color:#B3C593" class="btn white-btn f-right sm-left">View all</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Ara End -->
    <!-- Want To work -->
    <section class="wantToWork-area ">
        <div class="container">
            <div class="wants-wrapper w-padding2  section-bg" data-background="{% static 'img/gallery/section_bg01.png' %}">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>Together We can Change The world with Humanity</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <a href="{% url 'register' %}" class="btn white-btn f-right sm-left">Become A Volunteer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!--? Testimonial Start -->
<!--    <div class="testimonial-area testimonial-padding">-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; Testimonial contents &ndash;&gt;-->
<!--            <div class="row d-flex justify-content-center">-->
<!--                <div class="col-xl-8 col-lg-8 col-md-10">-->
<!--                    <div class="h1-testimonial-active dot-style">-->
<!--                        &lt;!&ndash; Single Testimonial &ndash;&gt;-->
<!--                        <div class="single-testimonial text-center">-->
<!--                            <div class="testimonial-caption ">-->
<!--                                &lt;!&ndash; founder &ndash;&gt;-->
<!--                                <div class="testimonial-founder">-->
<!--                                    <div class="founder-img mb-40">-->
<!--                                        <img src="{% static 'img/gallery/testimonial.png' %}" alt="">-->
<!--                                        <span>Margaret Lawson</span>-->
<!--                                        <p>Creative Director</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="testimonial-top-cap">-->
<!--                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Single Testimonial &ndash;&gt;-->
<!--                        <div class="single-testimonial text-center">-->
<!--                            <div class="testimonial-caption ">-->
<!--                                &lt;!&ndash; founder &ndash;&gt;-->
<!--                                <div class="testimonial-founder">-->
<!--                                    <div class="founder-img mb-40">-->
<!--                                        <img src="{% static 'img/gallery/testimonial.png' %}" alt="">-->
<!--                                        <span>Margaret Lawson</span>-->
<!--                                        <p>Creative Director</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="testimonial-top-cap">-->
<!--                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Single Testimonial &ndash;&gt;-->
<!--                        <div class="single-testimonial text-center">-->
<!--                            <div class="testimonial-caption ">-->
<!--                                &lt;!&ndash; founder &ndash;&gt;-->
<!--                                <div class="testimonial-founder">-->
<!--                                    <div class="founder-img mb-40">-->
<!--                                        <img src="{% static 'img/gallery/testimonial.png' %}" alt="">-->
<!--                                        <span>Margaret Lawson</span>-->
<!--                                        <p>Creative Director</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="testimonial-top-cap">-->
<!--                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Testimonial End &ndash;&gt;-->
<!--    &lt;!&ndash;? Blog Area Start &ndash;&gt;-->
<!--    <section class="home-blog-area section-padding30">-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; Section Tittle &ndash;&gt;-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10">-->
<!--                    <div class="section-tittle text-center mb-90">-->
<!--                        <span>Our recent blog</span>-->
<!--                        <h2>Latest News from our recent blog</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-xl-6 col-lg-6 col-md-6">-->
<!--                    <div class="home-blog-single mb-30">-->
<!--                        <div class="blog-img-cap">-->
<!--                            <div class="blog-img">-->
<!--                                <img src="{% static 'img/gallery/home-blog1.png' %}" alt="">-->
<!--                                &lt;!&ndash; Blog date &ndash;&gt;-->
<!--                                <div class="blog-date text-center">-->
<!--                                    <span>24</span>-->
<!--                                    <p>Now</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="blog-cap">-->
<!--                                <p>Creative derector</p>-->
<!--                                <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-6 col-lg-6 col-md-6">-->
<!--                    <div class="home-blog-single mb-30">-->
<!--                        <div class="blog-img-cap">-->
<!--                            <div class="blog-img">-->
<!--                                <img src="{% static 'img/gallery/home-blog2.png' %}" alt="">-->
<!--                                &lt;!&ndash; Blog date &ndash;&gt;-->
<!--                                <div class="blog-date text-center">-->
<!--                                    <span>24</span>-->
<!--                                    <p>Now</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="blog-cap">-->
<!--                                <p>Creative derector</p>-->
<!--                                <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- Blog Area End -->
    <!--? Count Down Start -->
<!--    <div class="count-down-area pt-25 section-bg" data-background="{% static 'img/gallery/section_bg02.png' %}">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-12 col-md-12">-->
<!--                    <div class="count-down-wrapper" >-->
<!--                        <div class="row justify-content-between">-->
<!--                            <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                                &lt;!&ndash; Counter Up &ndash;&gt;-->
<!--                                <div class="single-counter text-center">-->
<!--                                    <span class="counter color-green">6</span>-->
<!--                                    <span class="plus">+</span>-->
<!--                                    <p class="color-green">Donation</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                                &lt;!&ndash; Counter Up &ndash;&gt;-->
<!--                                <div class="single-counter text-center">-->
<!--                                    <span class="counter color-green">80</span>-->
<!--                                    <span class="plus">+</span>-->
<!--                                    <p class="color-green">Fund Raised</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                                &lt;!&ndash; Counter Up &ndash;&gt;-->
<!--                                <div class="single-counter text-center">-->
<!--                                    <span class="counter color-green">256</span>-->
<!--                                    <span class="plus">+</span>-->
<!--                                    <p class="color-green">Donation</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                                &lt;!&ndash; Counter Up &ndash;&gt;-->
<!--                                <div class="single-counter text-center">-->
<!--                                    <span class="counter color-green">256</span>-->
<!--                                    <span class="plus">+</span>-->
<!--                                    <p class="color-green">Donation</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Count Down End -->
</main>
{% endblock %}
