<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%if not title %}Feedsomeone - Thank you for donating{% else %}{{title}}{%endif%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center" style="background-color: white">
    <h1 class="display-3">{{subject}}</h1>
    <p class="lead">{{msg | safe}}</p>
    <hr>
    <p>
        Still in haste? <a href="tel:08170838856">call us</a>
    </p>
<!--    <p>This page will be automatically redirected after 9 seconds.</p>-->
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="{%url 'homepage'%}" role="button">Continue to homepage</a>
    </p>
</div>
<script charset="utf-8">
            setTimeout(function(){
                window.location.href = "{% url 'homepage' %}"
            }, 9000)

</script>
</body>
</html>
