{% extends 'base.html' %}
{% block page_title %}our volunteers{% endblock %}
{% load static %}
{% load imagefit %}
{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>Some of our past volunteers</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--? Team Ara Start -->
    <div class="team-area pt-160 pb-160">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Title -->
                    <div class="section-tittle section-tittle2 text-center mb-70">
                        <h2>Get Motivated to join</h2>
                    </div>
                </div>
            </div>
            <div class="row" id="search-results">
                {% include 'user/userprofile_ajax.html' %}
            </div>
      {% include "pagination.html" %}
        </div>
    </div>

    <!-- Team Ara End -->
    <!-- Hero End -->
    <!--? Count Down Start -->
    <section class="wantToWork-area ">
        <div class="container">
            <div class="wants-wrapper w-padding2  section-bg" data-background="{% static 'img/gallery/section_bg01.png' %}">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>You too can join this amazing group</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <a href="{% url 'register' %}" class="btn white-btn f-right sm-left">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </main>
{% endblock %}
