{% extends 'base.html' %}
{% block page_title %}our volunteers{% endblock %}
{% load static %}
{% load imagefit %}
{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>Our Volunteers</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--? Team Ara Start -->
    <div class="team-area pt-160 pb-160">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 text-center mb-70">
                        <h2>Get Motivated to join</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for member in volunteers %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-team mb-30 active">
                        <div class="team-img">
                            <div id="yes" style="height: 330px;
                            background:transparent no-repeat center;background-size: cover;
                            background-image: url('{{member.image.url}}');
                            transition: all .5s;"></div>
                            <!-- Blog Social -->
                            <ul class="team-social">
                                <li><a href="http://facebook.com/{{member.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://twitter.com/{{member.twitter}}"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://instagram.com/{{member.instagram}}"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-caption">
			    <h3><a href="#" style="font-size: 20px !important;">{{member.get_full_name}}</a></h3>
                            {%if member.innovator%}<p>Innovator</p>
                            {% elif member.coordinator %}<p>Coordinator</p>
                            {%elif member.volunteer %}<p>Volunteer</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
<!--                <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                    <div class="single-team mb-30">-->
<!--                        <div class="team-img">-->
<!--                            <img src="{% static 'img/gallery/volunteer_1.png' %}" alt="">-->
<!--                            &lt;!&ndash; Blog Social &ndash;&gt;-->
<!--                            <ul class="team-social">-->
<!--                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                                <li><a href="#"><i class="fas fa-globe"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="team-caption">-->
<!--                            <h3><a href="instructor.html">Miracle O</a></h3>-->
<!--                            <p>Volunteer</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                    <div class="single-team mb-30">-->
<!--                        <div class="team-img">-->
<!--                            <img src="{% static 'img/gallery/volunteer_4.png' %}" alt="">-->
<!--                            &lt;!&ndash; Blog Social &ndash;&gt;-->
<!--                            <ul class="team-social">-->
<!--                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                                <li><a href="#"><i class="fas fa-globe"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="team-caption">-->
<!--                            <h3><a href="instructor.html">Samuel A</a></h3>-->
<!--                            <p>Volunteer</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                    <div class="single-team mb-30">-->
<!--                        <div class="team-img">-->
<!--                            <img src="{% static 'img/gallery/volunteer_3.png' %}" alt="">-->
<!--                            &lt;!&ndash; Blog Social &ndash;&gt;-->
<!--                            <ul class="team-social">-->
<!--                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                                <li><a href="#"><i class="fas fa-globe"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="team-caption">-->
<!--                            <h3><a href="instructor.html">Olufunke P</a></h3>-->
<!--                            <p>Volunteer</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <!-- Team Ara End -->
    <!-- Hero End -->
    <!--? Count Down Start -->
      <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination mb-4">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link" aria-label="Previous">First</a>
            </li>
            <li class="page-item">
                <a href="?page={{page_obj.previous_page_number}}" class="page-link" aria-label="Previous"><i class="ti-angle-left"></i></a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
            {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2' %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                    <i class="ti-angle-right"></i>
                </a>
            </li>
            <li class="page-item">
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <section class="wantToWork-area ">
        <div class="container">
            <div class="wants-wrapper w-padding2  section-bg" data-background="{% static 'img/gallery/section_bg01.png' %}">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>You too can join this amazing group</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <a href="{% url 'register' %}" class="btn white-btn f-right sm-left">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </main>
{% endblock %}
